@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
dl,
dt,
dd,
ol,
ul,
li,
button,
fieldset,
form,
input,
label,
legend,
textarea,
select,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
a,
b,
i,
u,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  font-size: 100%;
  font-style: normal;
  font-weight: normal;
  line-height: inherit;
  vertical-align: baseline;
  background: none;
  white-space: normal;
}
form {
  height: inherit;
}
iframe {
  width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input {
  &:-webkit-autofill {
    -webkit-text-fill-color: #535353 !important;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  }
}
A:link,
A:active,
A:hover,
A:visited {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
}

html,
body {
  background: var(--bg);
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  color: #494949;
  overflow-x: hidden;
  padding: 0 calc(20px - (100vw - 100%)) 0 0;
}
//! временно
html {
  --text: #494949;
  --bg-grad: linear-gradient(92.24deg, #36D1DC 0%, #5B86E5 100%);
  --white-op3: rgba(255, 255, 255, 0.3);
  --white-op7: rgba(255, 255, 255, 0.7);
  --bg: #F0F0F0;
  --black: #000000;
  --header: #0b0d0f;
  --error: #800404;
}
// !
// html[data-theme="dark"] {
//   --text: #ffffff;
//   --bg: #030507;
//   --black: #000000;
//   --header: #0b0d0f;
//   --error: #800404;
// }
// html[data-theme="light"] {
//   --text: #1b1818;
//   --bg: #fff;
//   --black: #000000;
//   --header: #fff;
//   --error: #800404;
// }

@mixin second-bg {
  background: #FFFFFF;
  box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.03);
  border-radius: 20px;
}

.container {
  padding: 0 15px;
}

@media (min-width: 575.98px){
  .container {
    max-width: 540px;
    margin: auto;
    padding: 0;
  }
}

@media (min-width: 767.98px){
  .container {
    max-width: 720px;	
  }
}

@media (min-width: 991.98px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1199.98px){
  .container {
    max-width: 1140px;
  }
}


.grid-container {
  margin: 0 auto; /* Center the container horizontally */
}

.masonry-grid {
  display: flex;
  gap: 14px; 
  margin-left: -10px; /* Adjust margin as needed */
  width: 100%; /* Set width to 100% to fill the container */
}

.masonry-grid-column {
  padding-left: 10px; /* Adjust padding as needed */
}

.grid-item {
  width: 100%; /* Adjust margin as needed */
}

.grid-item > img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover; /* Ensure the image fills its container */
}
 
.layout {
  display: flex;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  padding: 24px;
}
.nav {
  @include second-bg();
  flex: 1;
}
.user-bage {

  @include second-bg();
}

.aside {
  width: 20vw;
  max-width: 270px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: calc(100vh - 36px);
}
.main {
  width: calc(100% - 20vw - 24px);
  margin-left: auto;
  @media (min-width: 1400px) {
    width: calc(100% - 270px - 24px);
  }
}


// text

.text-hero {
  font-size: 18px;
}
.text-title {
  font-size: 24px;
}
.bg-grad {
  background: linear-gradient(92.24deg, #36D1DC 0%, #5B86E5 100%);
}

.reply-username {
  &:nth-child(3) {
    color: #36D1DC;
  }
}
